<template>
    <div class="card  bg-light  mb-2" v-if="exist">
        <div class="card-body">
            <h4>Address</h4>  
            <form @submit.prevent="saveAddress" >
                <div class="form-row">
                    <!-- City -->
                    <div class="col-md-3 mb-3">
                        <label for="city">City</label>
                        <input type="text" class="form-control" id="city" placeholder="City" key :value="muttatedAddress.city"  required :disabled="disabled">
                    </div>
                    <!-- State -->
                    <div class="col-md-3 mb-3">
                        <label for="state">State</label>
                        <input type="text" class="form-control" id="state" placeholder="State" :value="muttatedAddress.state"  required :disabled="disabled">
                    </div>  
                    <!-- Address line -->              
                    <div class="col-md-3 mb-3">
                        <label for="address_line">Address</label>
                        <input type="text" class="form-control" id="address_line" placeholder="Address" :value="muttatedAddress.address_line"  required :disabled="disabled">
                    </div>
                    <!-- Zip -->
                    <div class="col-md-3 mb-3">
                        <label for="zip">Zip</label>
                        <input type="text" class="form-control" id="zip" placeholder="Zip" :value="muttatedAddress.zip_postcode" required :disabled="disabled">
                    </div>
                </div>  
                <button class="btn btn-info col-md-2" @click.prevent="disabled = !disabled" v-if="disabled" >Edit</button>
                <input class="btn btn-danger col-md-2" v-if="!disabled" type="reset" @click="disabled = !disabled" value="Cancel">
                <button class="btn btn-success col-md-2" type="submit" v-if="!disabled">Save</button>   
                <button class="btn btn-primary col-md-2" v-if="moreThanOneAddress()" @click.prevent='removeAddress'>Remove</button>   
                <button class="btn btn-danger col-md-2" v-if="moreThanOneAddress()" @click.prevent='deleteAddress'>Delete</button>   
            </form>              
        </div>
    </div>
</template>
<script>
export default {
    props:['address','numberOfAddresses'],
    data(){
        return{
            disabled:true,
            muttatedAddress : this.address,
            exist:true
        }
    },
    created(){
        
    },
    methods:{
        moreThanOneAddress(){
            // Check if the user has more than one address to allow to remove or delete an address
            if (this.numberOfAddresses > 1 && this.disabled){
                return true;
            }else{
                return false;
            }
        },
        removeAddress(){
            // Remove an address
            if (confirm('Are You Sure?')) {
                fetch(`api/address/hide/`+this.address.address_id, {
                method: 'put'
                })
                .then(res => res.json())
                .then(data => {
                    //alert('Address removed');
                    this.$emit( 'addressRemoved');
                    this.exist = false;
                })
                .catch(err => console.log(err)); 
            }
        },
        deleteAddress(){
            // Delete an address
            if (confirm('Are You Sure?')) {
                fetch(`api/address/`+this.address.address_id, {
                method: 'delete'
                })
                .then(res => res.json())
                .then(data => {
                    //alert('Address deleted');
                    this.$emit( 'addressRemoved');
                    this.exist = false;
                })
                .catch(err => console.log(err));
            }
        },
        saveAddress(){
            // Edit an address
            this.disabled = true;
            let address = {
                "address_id": this.address.address_id,
                "student_id": this.address.student_id,
                "address_line": document.getElementById("address_line").value,
                "city": document.getElementById("city").value,
                "zip_postcode": document.getElementById("zip").value,
                "state": document.getElementById("state").value,
                "display":1
            }
            this.muttatedAddress = address;
            // Update
            fetch('api/address', {
                method: 'put',
                body: JSON.stringify(address),
                headers: {
                    'content-type': 'application/json'
                }
            })
            .then(res => res.json())
            .then(data => {
                //alert('Address Updated');
            })
            .catch(err => console.log(err));            
        }
    }
}
</script>
