<template>
    <div class="card  bg-light mb-2"  v-if="exist">                
        <div class="card-body">
            <h4>Phone</h4>  
            <form @submit.prevent="addPhone">    
                <div class="form-row">
                    <!-- Pone -->
                    <div class="col-md-3 mb-2">
                            <label for="phone">Phone</label>
                            <input type="text" class="form-control" id="phone" placeholder="Phone" v-model="phone.phone"  required>
                    </div>  
                    <!-- Country code -->
                    <div class="col-md-3 mb-2">
                        <label for="country_code">Country code</label>
                        <input type="text" class="form-control" id="country_code" placeholder="Country code" v-model="phone.country_code"  required > 
                    </div>   
                    <!-- Area code -->
                    <div class="col-md-3 mb-2">
                        <label for="area_code">Area code</label>
                        <input type="text" class="form-control" id="area_code" placeholder="Area code" v-model="phone.area_code"  required >
                    </div> 
                    <!-- Phone type--> 
                    <div class="form-group  col-md-3 mb-2">
                        <p>Phone type</p>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="phone_type" id="mobilePhone" value="mobile" required>
                            <label class="form-check-label" for="mobilePhone">Mobile</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="phone_type" id="inlinePhone" value="inline">
                            <label class="form-check-label" for="inlinePhone">Inline</label>
                        </div>
                    </div>                             
                </div>
                <button class="btn btn-success col-md-2" type="submit">Save</button>   
            </form> 
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return{
                phone:{
                    student_id:this.$route.params.student_id,
                    phone:'',
                    phone_type:'',
                    country_code:'',
                    area_code:'',
                },
                exist : true
            }
        },
        methods:{
            addPhone(){
                this.phone.phone_type= document.querySelector('input[name="phone_type"]:checked').value;
                // Create a new phone
                fetch('api/phone', {
                    method: 'post',
                    body: JSON.stringify(this.phone),
                    headers: {
                        'content-type': 'application/json'
                    }
                })
                .then(res => res.json())
                .then(data => {
                    //alert('Phone Created');
                    this.$emit( 'phoneAdded' );
                    this.exist = false;

                })
                .catch(err => console.log(err));            
            }
            
        }
    }
</script>
