<template>
    <div class="card  bg-light  mb-2" v-if="exist">
        <div class="card-body">
            <h4>Address</h4>  
            <form @submit.prevent="addAddress">
                <div class="form-row">
                    <!-- City -->
                    <div class="col-md-3 mb-3">
                        <label for="city">City</label>
                        <input type="text" class="form-control" id="city" placeholder="City" key v-model="address.city"  required>
                    </div>
                    <!-- State -->
                    <div class="col-md-3 mb-3">
                        <label for="state">State</label>
                        <input type="text" class="form-control" id="state" placeholder="State" v-model="address.state"  required>
                    </div>   
                    <!-- Address -->             
                    <div class="col-md-3 mb-3">
                        <label for="address_line">Address</label>
                        <input type="text" class="form-control" id="address_line" placeholder="Address" v-model="address.address_line"  required>
                    </div>
                    <!-- CiZipty -->
                    <div class="col-md-3 mb-3">
                        <label for="zip">Zip</label>
                        <input type="text" class="form-control" id="zip" placeholder="Zip" v-model="address.zip_postcode" required>
                    </div>
                </div>  
                <button class="btn btn-success col-md-2" type="submit">Save</button>   
            </form>              
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return{
                address:{
                    student_id:this.$route.params.student_id,
                    city:'',
                    state:'',
                    address_line:'',
                    zip_postcode:''
                },
                exist : true
            }
        },
        methods:{
            addAddress(){
                // Create a new address
                fetch('api/address', {
                method: 'post',
                body: JSON.stringify(this.address),
                headers: {
                    'content-type': 'application/json'
                }
                })
                .then(res => res.json())
                .then(data => {
                    this.$emit( 'addressAdded');
                    this.exist = false;

                })
                .catch(err => console.log(err));            
            }
            
        }
    }
    
</script>
