<template>
    <div class="card  bg-light mb-2" v-if="exist">
        <div class="card-body">
            <h4>Email</h4>  
            <form @submit.prevent="addEmail">
                <div class="form-row">
                    <!-- Email -->
                    <div class="form-group col-md-8 mb-2">
                        <label for="emailInput">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="Email" v-model="email.email" required>
                    </div>
                    <!-- Email type -->
                    <div class="form-group  col-md-4 mb-2">
                        <p>Email type</p>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="professional" value="professional" required>
                            <label class="form-check-label" for="professional">Professional</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="personal" value="personal">
                            <label class="form-check-label" for="personal">Personal</label>
                        </div>
                    </div>
                </div>  
                <button class="btn btn-success col-md-2" type="submit">Save</button>   
            </form>              
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return{
                email:{
                    student_id:this.$route.params.student_id,
                    email:'',
                    email_type:''
                },
                exist : true
            }
        },
        methods:{
            addEmail(){
                // Crate a new email
                this.email.email_type= document.querySelector('input[name="email_type"]:checked').value;
                fetch('api/email', {
                    method: 'post',
                    body: JSON.stringify(this.email),
                    headers: {
                        'content-type': 'application/json'
                    }
                })
                .then(res => res.json())
                .then(data => {
                    //alert('Email Created');
                    this.$emit( 'emailAdded' );
                    this.exist = false;

                })
                .catch(err => {
                    alert('This email is already used, please choose another email')
                });            
            }
            
        }
    }
</script>
