<template>
    <div class="card  bg-light mb-2" v-if="exist">
        <div class="card-body">
            <h4>Email</h4>    
            <form @submit.prevent="saveEmail" >   
                <div class="form-row"> 
                    <!-- Email -->             
                    <div class="form-group col-md-8 mb-2">
                        <label for="emailInput">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="Email" :value="muttatedEmail.email"  required :disabled="disabled">
                    </div>
                    <!-- Email type -->   
                    <div class="form-group  col-md-4 mb-2">
                        <p>Email type</p>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input"  type="radio" name="email_type" id="professionalEmail" value="professional" :checked="isProfessional" required :disabled="disabled">
                            <label class="form-check-label" for="professionalEmail">Professional</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input"  type="radio" name="email_type" id="personalEmail" value="personal" :checked="!isProfessional" required :disabled="disabled">
                            <label class="form-check-label" for="personalEmail">Personal</label>
                        </div>
                    </div>  
                </div>
                <button class="btn btn-info col-md-2" @click.prevent="disabled = !disabled" v-if="disabled" >Edit</button>
                <input class="btn btn-danger col-md-2" v-if="!disabled" type="reset" @click="disabled = !disabled" value="Cancel">
                <button class="btn btn-success col-md-2" type="submit" v-if="!disabled">Save</button>   
                <button class="btn btn-primary col-md-2" @click.prevent='removeEmail' v-if="moreThanOneEmail()">Remove</button>   
                <button class="btn btn-danger col-md-2" @click.prevent='deleteEmail' v-if="moreThanOneEmail()">Delete</button>   
            </form> 
        </div> 
    </div>    
</template>
<script>
export default {
    props:['email','numberOfEmails'],
    data (){
        return{
            disabled: true,
            muttatedEmail : this.email,
            exist:true
        }
    },
    computed:{
        isProfessional(){
            // Check one of the radio button ( email_type)
            if(this.muttatedEmail.email_type == 'professional'){
            return true;
            }else{
                return false;
            }
        }
    },
    methods:{
        moreThanOneEmail(){
            // Check if the user has more than one email to allow to remove or delete an email
            if (this.numberOfEmails > 1 && this.disabled){
                return true;
            }else{
                return false;
            }
        },     
        removeEmail(){
            // Remove an email
            if (confirm('Are You Sure?')) {
                fetch(`api/email/hide/`+this.email.email, {
                method: 'put'
                })
                .then(res => res.json())
                .then(data => {
                    //alert('Email removed');
                    this.$emit('emailRemoved');
                    this.exist = false;
                })
                .catch(err => console.log(err)); 
            }
        },
        deleteEmail(){
            // Delete an email
            if (confirm('Are You Sure?')) {
                fetch(`api/email/`+this.email.email, {
                method: 'delete'
                })
                .then(res => res.json())
                .then(data => {
                    //alert('Email deleted');
                    this.$emit( 'emailRemoved');
                    this.exist = false;
                })
                .catch(err => console.log(err));
            }
        },
        saveEmail(){
            // Edit an email
            this.disabled = true;
            let email = {
                "email": document.getElementById("email").value,
                "student_id": this.email.student_id,
                "email_type": document.querySelector('input[name="email_type"]:checked').value,
                "display":1       
            }
            this.muttatedEmail = email;
            // Update
            fetch('api/email', {
                method: 'put',
                body: JSON.stringify(email),
                headers: {
                    'content-type': 'application/json'
                }
            })
            .then(res => res.json())
            .then(data => {
                //alert('Email Updated');
            })
            .catch(err => console.log(err));            
        }                
    }
}
</script>