<template>
    <div class="card  bg-light mb-2"  v-if="exist">                
        <div class="card-body">
            <h4>Phone</h4>  
            <form @submit.prevent="savePhone">    
                <div class="form-row">
                    <!-- Phone -->
                    <div class="col-md-3 mb-2">
                            <label for="phone">Phone</label>
                            <input type="text" class="form-control" id="phone" placeholder="Phone" :value="muttatedPhone.phone"  required :disabled="disabled">
                    </div>  
                    <!-- Country code --> 
                    <div class="col-md-3 mb-2">
                        <label for="country_code">Country code</label>
                        <input type="text" class="form-control" id="country_code" placeholder="Country code" :value="muttatedPhone.country_code"  required :disabled="disabled"> 
                    </div>  
                    <!-- Area code --> 
                    <div class="col-md-3 mb-2">
                        <label for="area_code">Area code</label>
                        <input type="text" class="form-control" id="area_code" placeholder="Area code" :value="muttatedPhone.area_code"  required :disabled="disabled">
                    </div> 
                    <!-- Phone type --> 
                    <div class="form-group  col-md-3 mb-2">
                        <p>Phone type</p>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="phone_type" id="mobilePhone" value="mobile" :checked="isMobile" required :disabled="disabled">
                            <label class="form-check-label" for="mobilePhone">Mobile</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="phone_type" id="inlinePhone" value="inline" :checked="!isMobile" required :disabled="disabled">
                            <label class="form-check-label" for="inlinePhone">Inline</label>
                        </div>
                    </div>                             
                </div>
                <button class="btn btn-info col-md-2" @click.prevent="disabled = !disabled" v-if="disabled" >Edit</button>
                <input class="btn btn-danger col-md-2" v-if="!disabled" type="reset" @click="disabled = !disabled" value="Cancel">
                <button class="btn btn-success col-md-2" type="submit" v-if="!disabled">Save</button>   
                <button class="btn btn-primary col-md-2" @click.prevent='removePhone' v-if="moreThanOnePhone()">Remove</button>   
                <button class="btn btn-danger col-md-2" @click.prevent='deletePhone' v-if="moreThanOnePhone()">Delete</button>   
            </form> 
        </div>
    </div>
</template>
<script>
export default {
    props:['phone','numberOfPhones'],
    data (){
        return{
            disabled: true,
            muttatedPhone : this.phone,
            exist:true
        }
    },
    computed:{
        isMobile(){
            // Check one of the radio button ( phone_type)
            if(this.muttatedPhone.phone_type == 'mobile'){
                return true;
            }else{
                return false;
            }
        }
    },
    methods:{
        moreThanOnePhone(){
            // Check if the user has more than one phone to allow to remove or delete an phone
            if (this.numberOfPhones > 1 && this.disabled){
                return true;
            }else{
                return false;
            }
        },     
        removePhone(){
            // Remove a phone
            if (confirm('Are You Sure?')) {
                fetch(`api/phone/hide/`+this.phone.phone_id, {
                method: 'put'
                })
                .then(res => res.json())
                .then(data => {
                    //alert('Phone removed');
                    this.$emit('phoneRemoved');
                    this.exist = false;
                })
                .catch(err => console.log(err)); 
            }
        },
        deletePhone(){
            // Delete a phone
            if (confirm('Are You Sure?')) {
                fetch(`api/phone/`+this.phone.phone_id, {
                method: 'delete'
                })
                .then(res => res.json())
                .then(data => {
                    //alert('Phone deleted');
                    this.$emit( 'phoneRemoved');
                    this.exist = false;
                })
                .catch(err => console.log(err));
            }
        }, 
        savePhone(){
            // Edit a phone
            this.disabled = true;
            let phone = {
                "phone_id": this.phone.phone_id,
                "student_id": this.phone.student_id,
                "phone": document.getElementById("phone").value,
                "phone_type": document.querySelector('input[name="phone_type"]:checked').value,
                "country_code": document.getElementById("country_code").value,
                "area_code": document.getElementById("area_code").value,
                "display":1  
            }
            this.muttatedPhone = phone;
            // Update
            fetch('api/phone', {
                method: 'put',
                body: JSON.stringify(phone),
                headers: {
                    'content-type': 'application/json'
                }
            })
            .then(res => res.json())
            .then(data => {
                //alert('Phone Updated');
            })
            .catch(err => console.log(err));            
        }                
    }
}
</script>