<template>
    <div class="card bg-light mb-2">
        <div class="card-body">
            <h4>Student</h4>    
            <form @submit.prevent="saveStudent" >  
                <div class="form-row">
                    <!-- First name -->
                    <div class="col-md-4 mb-3">
                        <label for="first_name">First name</label>
                        <input type="text" class="form-control" id="first_name" placeholder="First name" :value="muttatedStudent.first_name" required :disabled="disabled">
                    </div>
                    <!-- Middle name -->
                    <div class="col-md-4 mb-3">
                        <label for="middle_name">Middle name</label>
                        <input type="text" class="form-control" id="middle_name" placeholder="Middle name" :value="muttatedStudent.middle_name" required :disabled="disabled">

                    </div>
                    <!-- Last name -->
                    <div class="col-md-4 mb-3">
                        <label for="last_name">Last name</label>
                        <input type="text" class="form-control" id="last_name" placeholder="Last name" :value="muttatedStudent.last_name" required :disabled="disabled">
                    </div>
                </div>
                <!-- Gender -->
                <div class="form-group">
                    <div class="form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" id="gender_m" value="male" :checked="isMale" required :disabled="disabled">
                        <label class="form-check-label" for="gender_m">Male</label>
                    </div>
                    <div class="form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" id="gender_f" value="female" :checked="!isMale" required :disabled="disabled">
                        <label class="form-check-label" for="gender_f">Female</label>
                    </div>
                </div>
                <button class="btn btn-info col-md-2" @click.prevent="disabled = !disabled" v-if="disabled" >Edit</button>
                <input class="btn btn-danger col-md-2" v-if="!disabled" type="reset" @click.prevent="disabled = !disabled" value="Cancel">
                <button class="btn btn-success col-md-2" type="submit" v-if="!disabled">Save</button>   
            </form>
        </div>
    </div>
</template>
<script>
export default {
    props:['student'],
    data (){
        return{
            disabled: true,
            muttatedStudent : this.student,
        }
    },
    computed:{
        isMale(){
            // Check one of the radio button ( email_type)
            if(this.muttatedStudent.gender == 'male'){
            return true;
            }else{
                return false;
            }
        }
    },
    methods:{
        saveStudent(){
            // Edit an email
            this.disabled = true;
            let student = {
                "student_id": this.student.student_id,
                "last_name": document.getElementById("last_name").value,
                "middle_name": document.getElementById("middle_name").value,
                "first_name": document.getElementById("first_name").value,
                "gender":document.querySelector('input[name="gender"]:checked').value, 
                "display":1     
            }
            this.muttatedStudent = student;
            // Update
            fetch('api/student', {
                method: 'put',
                body: JSON.stringify(student),
                headers: {
                    'content-type': 'application/json'
                }
                })
                .then(res => res.json())
                .then(data => {
                    //alert('Email Updated');
            })
            .catch(err => console.log(err));            
        }                
    }
}
</script>
